

<div id="slider-bookmarks-index" class="black-background">

  <div class="image-container">
  <img src="<%= image_path 'schedule.jpeg' %>" alt="pic" class="img-bookmarks">
  </div>
  <div class="line-bookmarks">
  </div>


<ul class="nav nav-tabs d-flex justify-content-start pl-3 pt-3" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#list" role="tab" aria-controls="home" aria-selected="true">List</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="schedule-tab" data-toggle="tab" href="#schedule" role="tab" aria-controls="profile" aria-selected="false">Schedule</a>
  </li>
</ul>



<div class="tab-content d-flex justify-content-center" id="myTabContent">
  <div class="tab-pane mt-0 fade show active" id="list" role="tabpanel" aria-labelledby="home-tab">
    <% @bookmarks.each do |bookmark| %>
    <div class="square-line-list">
              </div>
      <div class="list">

        <p><%= bookmark.place.name%></p>
        <p><%= bookmark.time.strftime("%d/%m at %I:%M%p") if bookmark.time != nil %></p>
        <div class="d-flex justify-content-start">
         <p><%= link_to 'Add Review ', new_place_review_path(bookmark.place) %></p>
          <p class="ml-1"><%= link_to ' | Delete', bookmark_path(bookmark), method: :delete %></p>
        </div>
      </div>
    <%end%>

  </div>
  <div class="tab-pane fade d-flex justify-content-center" id="schedule" role="tabpanel" aria-labelledby="schedule-tab">
    <div>
    <% @bookmarks_schedule.each do |bookmark| %>
    <div class="schedule">
       <p id="time"><%= bookmark.time.strftime("%d/%m at %I:%M%p") if bookmark.time != nil %></p>
       <div class="schedule-info">
          <p><%= bookmark.place.name%></p>
        <div class="d-flex justify-content-start">
         <p><%= link_to 'Add Review ', new_place_review_path(bookmark.place) %></p>
          <p class="ml-1"><%= link_to ' | Delete', bookmark_path(bookmark), method: :delete %></p>
        </div>
        </div>
        <div class="square-line-schedule-info">
              </div>
  </div>
      <%end%>
    </div>
  </div>s
</div>
</div>
