


<div id="slider" class="xyz">
      <div class="card-category-mark" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5))" >
          <header class="slide-overlay">
            <div class="">



              <div class="text-preferences">
                <p id="place-name" class="schedule-this-place">Schedule this place.</p>
                <div id="schedule" id="white" >


                <div class="book-a-time d-flex justify-content-start">
                 <p> <i class="fa fa-plus plus2"></i></p>
               <p><%= render 'form', bookmark: @bookmark%></p>
                </div>
              </div>
              <div class="d-flex justify-content-start">


                <%= link_to place_bookmarks_path, method: :post do %>
                  <p> <i class="fa fa-plus plus1"></i></p>
                  <% end %>
                <p id="place-name" class="position"> <%= link_to "bookmarks", place_bookmarks_path, method: :post %></p>
              </div>
                  <div>
                  </div>
              </div>
              <div class="image-container">
                <img src="<%= image_path 'schedule.jpeg' %>" alt="pic" class="img-schedule-bookmark">
              </div>
              </div>
              <div class="line-new-bookmarks">
              </div>
              <div class="square-line-bookmarks">
              </div>
              <div class="square-line-bookmarks2">
              </div>
              <div class="good-choice">
              <p id="good-choice">Good choice, <%= current_user.nickname%>. - Alfred</p>
              </div>
            </header>
  </div>
</div>



