<h1>Bookmarks#new</h1>
<p>Find me in app/views/bookmarks/new.html.erb</p>
<%= simple_form_for [@bookmark] do |f| %>
  <%= f.input :time %>
  <%= hidden_field_tag(:user, params[:user_id]) %>
  <%= hidden_field_tag(:place, params[:place_id]) %>
  <%= f.submit "Add to schedule", class: "btn btn-primary" %>
<% end %>
