<% if controller_name == "preferences" && action_name == "new" %>
  <div class="p-3 preference-new">
  <% elsif controller_name == "pages" && action_name == "home"%>
  <div class="d-none">
<% else %>
  <div class="p-3">
<% end %>


<div class="d-flex justify-content-between">
<!-- <div>


</div> -->

      <% if user_signed_in? %>

<div class="navbar_icons">
  <%= link_to root_path do %>
    <%= image_tag "https://res.cloudinary.com/dodsrfkhr/image/upload/v1569423330/logo_h3miuw.png", class: "logo" %>
  <% end %>
</div>

<div>
  <%= link_to places_path(current_user) do %>
    <%= image_tag "globe.png", class: "nav-schedule" %>
  <% end %>

  <%= link_to bookmarks_path(current_user) do %>
    <%= image_tag "schedule copy2.png", class: "nav-schedule" %>
  <% end %>
</div>


          <%# link_to "schedule", bookmarks_path(current_user), class: "" %>


      <% else %>



          <%= link_to "Login", new_user_session_path, class: "" %>

      <% end %>


</div>
</div>
