



<div class="background-image">
  <div class="container">

    <% if user_signed_in? %>


 <div class="text-home">
                <p id="place-name">Where are we going?</p>
                  <p id="alfred-2">Your, Travel Butler Alfred.</p>
                  <div>



    <%= render 'address_form.erb' %>

    <div class="nav-item dropdown mt-3 d-flex justify-content-center">

      <%= image_tag current_user.photo.blank?  ?  "Placeholder-Avatar.jpg" : current_user.photo , class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
        <%= link_to "Profile", profile_path, class: "dropdown-item" %>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
      </div>
    </div>
    <% else %>

    <!-- <h1 class="mt-5"> Hi friend,</h1>
    <p class="mt-5 ">I am Alfred, your personal Assistant.</p>
    <p>I would love to get to know you.</p> -->
    <div class="logo_icon_wrapper">
      <%= image_tag "Infos.png", class: "logo_gen logo_icon"%>
    </div>
    <div class="logo_wrapper">

      <div class="logo_anim logo_main">ALFRED</div>
      <div class="logo_anim sublogo">
        <span>your travel butler</span>
      </div>

    </div>


    <%= link_to "SIGN UP", 'users/sign_up', class: "btn button-registration mt-5" %>


    <% end %>
  </div>
</div>


