
<div class="container profile_index">

  <div class="d-flex justify-content-start">
    <%= cl_image_tag @user.photo, height: 50, width: 50, crop: :fill, :class => "avatar" %>
    <h1>Your Profile</h1>
  </div>

  <div class="d-flex justify-content-start">
    <p>  ----  INFOS </p>
    <%# link_to edit_user_path (current_user) do %>
    <i class="fa fa-pencil-alt"></i>
    <%# end %>
  </div>
  <p><%= current_user.name %></p>
  <p><%= current_user.nickname %></p>
  <p><%= current_user.location %></p>
  <p>change password </p>




  <div class="d-flex justify-content-start mt-5">
    <p> ---- PREFERENCES </p>
    <%= link_to new_user_preference_path(current_user) do %>
    <i class="fa fa-pencil-alt"></i>
    <% end %>
  </div>


  <div class="row">
    <div class="col-xs-12">
      <% @current_user.preferences.each do | preference | %>
      <div class="row ml-3">
        <div class="col-xs-12">
          <%=  preference.category.name %>
        </div>
      </div>
      <% end %>
    </div>
  </div>

</div>
