

<div>
  <p id="intro-profile"> Alfred can help set your profile</p>
  <div class="line-first">
    </div>
     <div class="line-second">
    </div>
</div>


<div class="slider">
    <div id="slider">
      <div class="card-category-profile" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5))" >
          <header class="slide-overlay">
            <div class="">
              <div class="profile">
                <div class="d-flex justify-content-start align-items-center ">
                  <%# link_to edit_user_path (current_user) do %>
                <p class="mr-2 pencil"> <i class="fa fa-pencil-alt"></i></p>
                <%# end %>
                <p id="place-name">Profile</p>

                </div>

                 <div class="d-flex justify-content-start align-items-center ">
                  <p class="mr-2 size-2"><i class="fa fa-signature"></i></p>
                  <p id="location-2"><%= current_user.name %> (<%= current_user.nickname %>)</p>
                </div>

                <div class="d-flex justify-content-start align-items-center ">
                  <p class="mr-2 size-2"><i class="fa fa-map-pin"></i></p>
                  <p id="location-2">Tel Aviv</p>
                </div>

                <div class="d-flex justify-content-start align-items-center ">
                  <p class="mr-2 size-2"><i class="fa fa-at"></i></p>
                  <p id="location-2"><%= current_user.email %></p>
                </div>

                <div class="d-flex justify-content-start align-items-center ">
                  <p class="mr-2 size-2"><i class="fa fa-unlock-alt"></i></p>
                  <p id="location-2">Change Password</p>
                </div>

              </div>

              <div class="image-container">
                <img src="<%= image_path 'profile.png' %>" alt="pic" class="img-profile">
                </div>
                </div>
                <div class="line-profile">
                </div>
                <div class="square-line-profile">
              </div>


          </header>
          <main>

             <div class="square-line-body-profile">
            </div>

              <div class="text-body-profile" id="description">
                <div class="d-flex justify-content-end align-items-center">
                  <%= link_to new_user_preference_path(current_user) do %>
                  <p class="mr-2 pencil"> <i class="fa fa-pencil-alt"></i></p>
                  <% end %>

                  <p id="place-name">Preferences</p>
                </div>


                <div class="row preferences" id="description2-profile">

                    <div class="category-choices ">
                    <% @current_user.preferences.each do | preference | %>
                      <div class="row ml-3">
                        <div class="col-xs-6 view">
                          <%=  preference.category.name %>
                        </div>
                      </div>
                    <% end %>

              </div>



          </main>
      </div>
    </div>
  </div>
  </div>
