

<div class="black">
  <div class="squares">
    <div class="box-preference-progress-1">

    </div>
    <div class="box-preference-progress-2">
  </div>
</div>

  <div class="slider">
    <div id="slider-preferences-new">
      <div class="card-category-preferences" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5))" >
          <header class="slide-overlay">
            <div class="">
              <div class="text-preferences">
                <p id="place-name">Tell me what you like.</p>
                  <p id="alfred">Your, Alfred.</p>
                  <div>
                  </div>
              </div>
              <div class="image-container">
                <img src="<%= image_path 'Alfred.png' %>" alt="pic" class="img-preferences">
              </div>
              </div>
              <div class="line-preferences">
              </div>
              <div class="square-line-preferences">
              </div>
            </header>


             <div class="square-line-body-preferences">
             </div>

             <div class="text-body-preferences" id="place-name-preferences">


              <div class="row preferences">
                <%= simple_form_for([@user, @preference]) do |f| %>
   <!--  <div class="col-xs-5">

      <%#f.association :category, as: :check_boxes %>
    </div> -->

            <div class="form-group mt-4 mr-2" id="last">
              <div class="category-choices">
                <% Category.all.order(name: :asc).each do |category| %>


                <input type="checkbox" class="d-none choice" value="<%= category.id %>" name="preferences[category_ids][]" id="preferences_category_ids_<%= category.id %>">
                <label for="preferences_category_ids_<%= category.id %>" class="preference-label">
                  <%= category.name %>
                </label>

                <% end %>
              </div>
            </div>

            <div class="square-line-button">
            </div>
            <div class="save-preferences">
              <%= f.submit "Save", class: "button-preferences"  %>
            </div>



          </div>
          <% end %>



      </div>
    </div>
  </div>
</div>
