
<div class="container">
  <h1>Categories</h1>
  <% Category.all.each do |category| %>
    <%= link_to category.name, places_path(category: category.name) %>
  <% end %>
  <h1>Places</h1>
  <div class="container">
    <% @places.each do |place| %>
      <%= link_to place_path(place) do %>
        <h1><%= place.name %></h1>
        <h5><%= place.location %></h5>
      <% end %>
    <% end %>
  </div>

<div class="mt-5">
  <%= link_to map_path do %>
    <i class="fa fa-map-marked-alt text-secondary"></i>
  <% end %>
</div>
</div>
