
<div class="container">
  <h1>Places#index</h1>
  <p>Find me in app/views/places/index.html.erb</p>





  <% @categories.each do |category| %>
    <%= link_to category.name, places_path(category: category.name) %>
  <% end %>

  <div class="container">
    <% @places.each do |place| %>
      <%= link_to place_path(place) do %>
        <%= place.name %>
        <%= place.location %>
      <% end %>
    <% end %>
  </div>

<div class="mt-5">
  <%= link_to map_path do %>
    <i class="fa fa-map-marked-alt text-secondary"></i>
  <% end %>
</div>
</div>
