

<div class=" banner">
  <div class="box-scroll">
    <div class="categories-scroll">
      <% @categories.each do |category| %>
      <div class=<% if current_page?("/places?category=#{category.name}") %>"active-tab"<% end %>>
        <%= link_to category.name, places_path(category: category.name), class: "inactive-tab" %>
      </div>
      <% end %>
    </div>
  </div>


  <div class="slider2">
    <% @places.each_with_index do |place, i| %>
      <div class="card-category slide-cat-item" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0))" >
        <header class="slide-overlay">
          <div class="text">
            <p id="place-name"><%= place.name %></p>
            <div class="d-flex justify-content-start align-items-center ">
              <p class="mr-2 size"><i class="fa fa-map-pin"></i></p>
              <p id="location"><%= place.location %></p>
            </div>
          </div>

          <div class="image-container">
             <% if i<5  %>
                <% image = @pictures[i] %>
                <%= image_tag image, class: "img" %>
              <% else %>
                <% image = @pictures[i%5] %>
                <%= image_tag image, class: "img" %>
              <% end %>
          </div>
          <div class="line">
          </div>
          <div class="square-line">
          </div>
        </header>

        <main>
         <div class="square-line-body">
         </div>
         <div class="text-body" id="description">
          <p id="place-name">Reviews</p>
            <% place.reviews.last(2).reverse.each do |review| %>
            <p id="location"><%= review.content %></p>
            <% end %>
            <p id="all_reviews"><%= link_to 'read all', place_reviews_path(place) %></p>
            <p id="description2"></p>
          </div>
          <div class="d-flex justify-content-between">


              <div class="line-schedule">
                <p id="footer"><%= link_to 'schedule', new_place_bookmark_path(place) %></p>
              </div>
              <div class="line-schedule">
                <p id="footer"><%=link_to "forum", place_forums_path(place), method: :post%></p>
              </div>
              <div class="line-schedule">
                <p id="footer"><%= link_to 'map', map_path(place) %></p>
          </div>
          </div>
          </main>

        </div>

    <% end %>
  </div>


