<h1>Places#show</h1>
<p>Find me in app/views/places/show.html.erb</p>

<% @categories.each do |category| %>
  <%= link_to category.name, places_path(category: category.name) %>
<% end %>

<h2><%= @place.name %></h2>
<p><%= @place.location %></p>
<% if @place.price_cents == 0 %>
  <p> $ </p>
<% end %>
<h5>DESCRIPTION</h5>
<p><%= @place.description %></p>


<div class="star-rating" data-score=<%= @avg_rating %> > <% (1..@avg_rating).each do %>
  *
  <% end %>
</div>
<em><%= "based on #{@reviews.size} reviews" %></em>

<div class="container">
  <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
    <h2>Flatpickr Demo</h2>

    <%= simple_form_for :search, method: "get" do |f| %>
      <%= f.input :starts_at, as: :string, required: false, input_html: {class: "datepicker"} %>
      <% f.input :ends_at, as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= f.button :submit, "schedule this item", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<%= button_to "Add to your list", place_bookmarks_path(@place), method: "post", class: "btn btn-primary mb-2", params: {list: true} %>
<%= button_to "Add to your schedule", new_place_bookmark_path(@place), method: "get", class: "btn btn-primary" %>



<div id="rateYo"></div>
<script>
  console.log("yo!!!");
  $("#rateYo");

</script>
